{% extends 'layouts/admin.html' %} {% load static %} {% load i18n %} 
{% block title %}{% translate "Edit Category" %}{% endblock title %}
{% block content %}
<main>
  <header
    class="page-header page-header-compact page-header-light border-bottom bg-white mb-4"
  >
    <div class="container-fluid px-4">
      <div class="page-header-content">
        <div class="row align-items-center justify-content-between pt-3">
          <div class="col-auto mb-3">
            <h1 class="page-header-title">
              <div class="page-header-icon">
                <i data-feather="file-plus"></i>
              </div>
              {% translate "Edit Category" %}
            </h1>
          </div>
          <div class="col-12 col-xl-auto mb-3">
            <div class="d-flex justify-content-center">
              <a
                class="btn btn-sm btn-light text-primary mx-2"
                href="{% url 'apps.administration:store-category-list-create' %}"
              >
                <i class="me-1" data-feather="list"></i>
                {% translate "Back to Category List" %}
              </a>
              <form class="delete-form" method="POST">
                {% csrf_token %}
                <div class="d-inline-block">
                  <button type="submit" class="btn btn-sm btn-danger">
                    <i class="me-1" data-feather="trash-2"></i>
                    {% translate "Delete Category" %}
                  </button>
                </div>
                <input type="hidden" name="_method" value="delete">            
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid px-4">
    {% include 'components/messages.html' with messages=messages %}
    <div class="card mb-4">
        <div class="card-header">{% translate "Edit Category" %}</div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data"> 
                {{form.media}}
                {% csrf_token %}
                {% include "components/forms/hidden-fields.html" with hidden_fields=form.hidden_fields %}
                <div class="row g-3 mb-3">
                  <div class="col-12 col-md-4">
                    <label class="small mb-1" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                    {{ form.name }} 
                    {{ form.name.errors }}
                  </div>
                  <div class="col-12 col-md-4">
                    <label class="small mb-1" for="{{ form.cover_image.id_for_label }}">{{ form.cover_image.label }}</label>
                    {{ form.cover_image }} 
                    {{ form.cover_image.errors }}
                    <img loading="lazy" src="{{category.cover_image.url}}" width="64" height="64" class="mt-3">
                  </div>
                  <div class="col-12 col-md-4">
                      <label class="small mb-1" for="{{ form.parent.id_for_label }}">{{ form.parent.label }}</label>
                      {{ form.parent }} 
                      {{ form.parent.errors }}
                  </div>
                </div>
                {{form.non_field_errors}} 
                {{form.non_form_errors}} 
                <button class="btn btn-sm btn-success" type="submit"><i class="me-1" data-feather="edit"></i> {% translate "Save" %}</button>
            </form>
        </div>
    </div>
  </div>
</main>
{% endblock content %}
