{% extends "layouts/admin.html" %} 
{% load static %} 
{% load i18n %}
{% block title %}{% translate "Order List" %}{% endblock title %}
{% block content %}
<main>
  <header
    class="page-header page-header-compact page-header-light border-bottom bg-white mb-4"
  >
    <div class="container-fluid px-4">
      <div class="page-header-content">
        <div class="row align-items-center justify-content-between pt-3">
          <div class="col-auto mb-3">
            <h1 class="page-header-title">
              <div class="page-header-icon"><i data-feather="list"></i></div>
              {% translate "Order List" %}
            </h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid px-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-6 col-xl-4">
            <form method="GET"> 
              <div class="mb-3 d-flex">
                  <input type="search" name="search" value="{{request.GET.search}}" class="form-control mx-2 form-control-sm" placeholder="{% translate 'Search' %}">
                  <button class="btn btn-success btn-sm" type="submit">{% translate "Search" %}</button>
              </div>
            </form>
          </div>
        </div>
        <table class="table entry-table">
          <thead>
            <tr>
              <th>{% translate "Name" %}</th>
              <th>{% translate "Phone" %}</th>
              <th>{% translate "Total Paid" %} &#8380;</th>
              <th>{% translate "Order Date" %}</th>
              <th>{% translate "Actions" %}</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>{% translate "Name" %}</th>
              <th>{% translate "Phone" %}</th>
              <th>{% translate "Total Paid" %} &#8380;</th>
              <th>{% translate "Order Date" %}</th>
              <th>{% translate "Actions" %}</th>
            </tr>
          </tfoot>
          <tbody>
            {% if orders %}
            {% for order in orders %}
            <tr class="{% if not order.seen %}bg-light{% endif %}">
              <td>{{ order.name }}</td>
              <td>{{ order.phone }}</td>
              <td>{{ order.total_paid }}</td>
              <td>{{ order.created_at|date:"d.m.Y H:i" }}</td>
              <td>
                <a href="{% url 'apps.administration:order-detail' pk=order.pk %}" 
                    class="btn btn-datatable btn-icon btn-transparent-dark me-2"
                >
                  <i data-feather="file-text"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr class="bg-light">
              <td colspan="5">
                <p class="text-center">{% translate "No order found!" %}</p>
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
        {% include "components/default/pagination.html" with pagination=orders %}
      </div>
    </div>
  </div>
</main>
{% endblock content %}
