{% load i18n %} 
<nav class="sidenav shadow-right sidenav-light">
  <div class="sidenav-menu">
    <div class="nav accordion" id="accordionSidenav">
      <div class="sidenav-menu-heading d-sm-none">{% translate "Account" %}</div>

      
    </div>
  </div>
  <div class="sidenav-footer">
    <div class="sidenav-footer-content">
      <div class="sidenav-footer-subtitle">{% translate "Logged in as" %}:</div>
      <div class="sidenav-footer-title">{{request.user.username}}</div>
    </div>
  </div>
</nav>
