{% load static %}
{% load i18n %}

<section class="products">
  <header>
    <div class="container">
      <h2 class="title">{% translate "Discounted products" %}</h2>
      <div class="text">
        <p>
          {% translate "Find your perfect match" %}
          <a href="{% url 'apps.store:category-products' %}" class="btn btn-main"
            >{% translate "View all" %}</a
          >
        </p>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      {% for product in products %}
      <div class="col-12 col-sm-6 col-lg-4">
        {% include "components/default/products/grid-item.html" with product=product %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
