{% load i18n %}
{% load in_stock_display %}
<article>
  <div class="info">
    <span
      data-product_id="{{product.pk}}"
      class="add-favorite toggle-favorite {% if product.id in favorites.favorites %}added{% endif %}"
    >
      <a
        href="javascript:void(0);"
        data-title="{% translate "Add to favorites" %}"
        data-title-added="{% translate "Add to favorites list" %}"
      >
        <i class="icon icon-heart"></i>
      </a>
    </span>
  </div>
  {% if product.in_stock %}
  <div data-product_id="{{product.pk}}" class="btn btn-add">
    <i class="icon icon-cart"></i>
  </div>
  {% endif %}
  <div class="figure-grid">
    {% if product.discount %}<span class="badge badge-warning">-{{product.discount}}%</span>{% endif %}
    {% if not product.in_stock %}
    <span class="badge badge-secondary">{{product.in_stock|in_stock_display}}</span>
    {% endif %}
    <div class="image">
      <a href="{% url 'apps.store:product-detail' slug=product.slug %}">
        <img src="{{product.get_image_feature}}" alt="{{product}}" />
      </a>
    </div>
    <div class="text">
      <h2 class="title h4 my-2">
        <a href="{% url 'apps.store:product-detail' slug=product.slug %}"
          >{{product}}</a
        >
      </h2>
      <h4 class="title h6">
        <a class="text-danger" href="{% url 'apps.store:category-products' %}?collection={{product.collection.slug}}"
          >{{product.collection}}</a
        >
      </h4>
      {% if product.discount %}
      <sub>$ {{product.regular_price}}</sub><sup>$ {{product.discount_price}}</sup>
      {% else %}
      <sup>$ {{product.regular_price}}</sup>
      {% endif %}
    </div>
  </div>
</article>
