{% extends "layouts/admin.html" %} {% load static %} {% load i18n %}
{% block title %}{% translate "User List" %}{% endblock title %}
{% block content %}
<main>
  <header
    class="page-header page-header-compact page-header-light border-bottom bg-white mb-4"
  >
    <div class="container-fluid px-4">
      <div class="page-header-content">
        <div class="row align-items-center justify-content-between pt-3">
          <div class="col-auto mb-3">
            <h1 class="page-header-title">
              <div class="page-header-icon"><i data-feather="list"></i></div>
              {% translate "User List" %}
            </h1>
          </div>
          <div class="col-12 col-xl-auto mb-3">
            <a
              class="btn btn-sm btn-light text-primary"
              href="{% url 'apps.administration:user-create' %}"
            >
              <i class="me-1" data-feather="user-plus"></i>
              {% translate "Add New User" %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid px-4">
    {% include "components/messages.html" with messages=messages %}
    <div class="card">
      <div class="card-body">
        <table id="datatablesSimple" class="entry-table">
          <thead>
            <tr>
              <th>{% translate "Username" %}</th>
              <th>{% translate "Email" %}</th>
              <th>{% translate "Actions" %}</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>{% translate "Username" %}</th>
              <th>{% translate "Email" %}</th>
              <th>{% translate "Actions" %}</th>
            </tr>
          </tfoot>
          <tbody>
            {% for user in users %}
            <tr>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>
                <form
                  class="delete-form"
                  action="{% url 'apps.administration:user-delete' pk=user.pk %}"
                  method="post"
                >
                  {% csrf_token %}
                  <button
                    type="submit"
                    class="btn btn-datatable btn-icon btn-transparent-dark"
                  >
                    {% translate "Delete" %}
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
