{% extends "layouts/default.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "Favorites" %}{% endblock title %}
{% block description %}{% translate "Favorites Page Description" %}{% endblock description %}
{% block content %}
<section class="products pt-4">
    <header>
        <div class="container">
            {% include "components/default/breadcrumb.html" with breadcrumb=breadcrumb %}
            <h2 class="title">{% translate "Favorite Products" %}</h2>
        </div>
    </header>

    <div class="container">
        <div class="row">
            {% for product in favorites.products %}
            <div class="col-6 col-lg-4">
                {% include "components/default/products/grid-item.html" with product=product %}
            </div>
            {% endfor %}
        </div>
    </div>

</section>
{% endblock content %}
