{% load static %}

<link rel="stylesheet" media="all" href="{% static 'css/default/bootstrap.min.css' %}" />
<link rel="stylesheet" media="all" href="{% static 'css/default/animate.min.css' %}" />
<link rel="stylesheet" media="all" href="{% static 'css/default/font-awesome.min.css' %}" />
<link rel="stylesheet" media="all" href="{% static 'css/default/linear-icons.css' %}" />
<link rel="stylesheet" media="all" href="{% static 'css/default/magnific-popup.css' %}" />
<link rel="stylesheet" media="all" href="{% static 'css/default/owl.carousel.css' %}" />
<link rel="stylesheet" media="all" href="{% static 'css/default/theme.min.css' %}" />

<!--Google fonts-->
<link
  rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');"
  href="https://fonts.googleapis.com/css?family=Poppins:400,500,600"
/>
<link
  rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');"
  href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext"
/>

<noscript>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext">
</noscript>