{% load static %}
<script src="{% static 'js/lazysizes.min.js' %}" async></script>

<input
  id="csrftoken"
  value="{{csrf_token}}"
  type="hidden"
/>
<script>
    const addToFavoritesURI = "{% url 'apps.api:store-favorites-add' %}"
    const removeFromFavoritesURI = "{% url 'apps.api:store-favorites-remove' %}"
    const addToCartURI = "{% url 'apps.api:orders-cart-add' %}"
    const updateCartURI = "{% url 'apps.api:orders-cart-update' %}"
    const removeFromCartURI = "{% url 'apps.api:orders-cart-remove' %}"
    const productDetailURI = "{% url 'apps.store:product-detail' slug='product_slug' %}"
    const getCartDetailURI = "{% url 'apps.api:orders-cart-detail' %}"
</script>
<script src="{% static 'js/default/jquery.min.js' %}"></script>
<script src="{% static 'js/default/bootstrap.min.js' %}"></script>
<script src="{% static 'js/default/include.js' %}"></script>
<script src="{% static 'js/default/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'js/default/magnific-popup.min.js' %}"></script>
<script src="{% static 'js/default/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/default/tilt.jquery.js' %}"></script>
<script src="{% static 'js/default/bigtext.min.js' %}"></script>
<script src="{% static 'js/default/main.js' %}"></script>
<script async src="{% static 'js/default/orders.js' %}"></script>
