{% load static %}

<script src="{% static 'js/default/jquery.min.js' %}"></script>
<script src="{% static 'js/default/bootstrap.js' %}"></script>
<script src="{% static 'js/default/include.js' %}"></script>
<script src="{% static 'js/default/ion.rangeSlider.js' %}"></script>
<script src="{% static 'js/default/magnific-popup.js' %}"></script>
<script src="{% static 'js/default/owl.carousel.js' %}"></script>
<script src="{% static 'js/default/tilt.jquery.js' %}"></script>
<script src="{% static 'js/default/jquery.easypiechart.js' %}"></script>
<script src="{% static 'js/default/bigtext.js' %}"></script>
<script src="{% static 'js/default/main.js' %}"></script>
