{% extends 'layouts/default.html' %} 
{% load static %} 
{% load i18n %} 
{% block title %}{% endblock title %} 
{% block description %}{% endblock description %}
{% block content %}
<section class="products pt-0">
    <header>
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </div>
    </header>

    <div class="container">

        <div class="row">

            <div class="col-lg-3">
                {% include "components/default/filters.html" with brands=brands categories=categories form=filter_form in_stock_products_count=in_stock_products_count %}                
            </div>

            <div class="col-lg-9">

                {% include "components/default/sort-bar.html" with form=filter_form per_page=products.object_list|length total=products.count%}

                <div class="row">
                    {% for product in products %}
                    <div class="col-12">
                        {% include "components/default/products/list-item.html" with product=product %}
                    </div>
                    {% endfor %}
                </div> 

                {% include "components/default/pagination.html" with pagination=products %}
            </div>

        </div>
    </div>

</section>

{% include "components/default/featured_categories.html" with categories=categories %}

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/default/product-filter.js' %}"></script>
{% endblock scripts %}