{% extends "layouts/default.html" %}
{% load static %}
{% load i18n %}
{% block title %} 
{% if current_category %}{{current_category.name}}{% endif %} {% translate "Products" %} 
{% endblock title %}
{% block description %} 
{% translate "Products Page Description" %} 
{% endblock description %}
{% block content %}
<section class="products pt-0">
    <header>
        <div class="container">
            {% include "components/default/breadcrumb.html" with breadcrumb=breadcrumb %}
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                {% include "components/default/filters.html" with brands=brands collections=collections categories=categories form=filter_form in_stock_products_count=in_stock_products_count %}
            </div>

            <div class="col-lg-9">
                {% include "components/default/sort-bar.html" with form=filter_form per_page=products.object_list|length total=products.count%}

                <div class="row">
                    {% for product in products %}
                    {% if filter_form.view.value == 'grid' %}
                    <div class="col-12 col-lg-6">
                        {% include "components/default/products/grid-item.html" with product=product %}
                    </div>
                    {% else %}
                    <div class="col-12">
                        {% include "components/default/products/list-item.html" with product=product %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

                {% include "components/default/pagination.html" with pagination=products %}
            </div>
        </div>
    </div>

</section>

{% include "components/default/categories/featured_categories.html" with categories=categories %}

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/default/product-filter.js' %}"></script>
{% endblock scripts %}
