{% extends "layouts/default.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "About Us" %}{% endblock title %}
{% block description %}{% translate "About Page Description" %}{% endblock description %}
{% block content %}
<section class="about pt-4 pt-lg-5">
  <header>
    <div class="container">
      <h2 class="title">{% translate "About Us" %}</h2>
      <div class="text">
        <p>
          {{about|safe}}
        </p>
      </div>
    </div>
  </header>
  <div class="container-fluid">
    <div class="image">
      {% if about_image %}
      <img src="{{about_image.url}}" />
      {% endif %}
    </div>
  </div>
</section>
{% endblock content %}
