{% extends "layouts/default.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "Contact Us" %}{% endblock title %}
{% block description %}{% translate "Contact Page Description" %}{% endblock description %}
{% block content %}
<section class="contact">

  <div id="map" style="position: relative; overflow: hidden">
    <div
      style="
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgb(229, 227, 223);
        background-size: cover;
      "
      data-src="{{contact_image.url}}"
      class="lazy-bg"
    >
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="contact-block">
          <div class="contact-info">
            <div class="row">
              <div class="col-sm-3 col-md-6">
                <figure class="text-center">
                  <span class="icon icon-map-marker"></span>
                  <figcaption>
                    <strong>{% translate "Address" %}</strong>
                    <span>{{company_info.address}}</span>
                  </figcaption>
                </figure>
              </div>
              <div class="col-sm-3 col-md-6">
                <figure class="text-center">
                  <span class="icon icon-phone"></span>
                  <figcaption>
                    <strong>{% translate "Call us" %}</strong>
                    <span>
                      {% for phone in contact_phones %}
                      {{phone}} <br/>
                      {% endfor %}
                    </span>
                  </figcaption>
                </figure>
              </div>
              <div class="col-sm-3 col-md-6">
                <figure class="text-center">
                  <span class="icon icon-clock"></span>
                  <figcaption>
                    <strong>{% translate "Working hours" %}</strong>
                    <span>
                      {{company_info.working_hours}}
                    </span>
                  </figcaption>
                </figure>
              </div>
              <div class="col-sm-3 col-md-6">
                <figure class="text-center">
                  <span class="icon icon-envelope"></span>
                  <figcaption>
                    <strong>{% translate "E-mail" %}</strong>
                    <span>
                      {% for email in contact_emails %}
                      {{email}} <br/>
                      {% endfor %}
                    </span>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>

          <div class="contact-info">
            <h2 class="title">{% translate "Write to us" %}</h2>
            <p>
              {% blocktranslate %}
              Please use this form if you have any questions about 
              our products and we'll get back with you very soon.
              {% endblocktranslate %}
            </p>

            <div id="contact-form" class="contact-form-wrapper">
              <div class="contact-form clearfix">
                {% include "components/messages.html" with messages=messages %}

                <form method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        {{form.name}}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        {{form.email}}
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        {{form.subject}}
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        {{form.message}}
                      </div>
                    </div>
                    <div class="col-md-12 text-center">
                      <button type="submit" class="btn btn-primary">
                        {% translate "Send message" %}
                      </button>
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
