{% extends "layouts/default.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "Home" %}{% endblock title %}
{% block description %}{% translate "Home Page Description" %}{% endblock description %}

{% block content %}
{% include "components/default/slider.html" with banners=banners %}

{% include "components/default/categories/featured_categories.html" with categories=categories %}

{% include "components/default/products/discounted_products.html" with products=discounted_products%}

{% include "components/default/products/new_products.html" with products=new_products%}
{% endblock content %}
