{% extends 'layouts/default.html' %} 
{% load static %} 
{% load i18n %} 
{% block title %}{% translate "Home Page Description" %}{% endblock title %} 
{% block description %}{% translate "Home Page Description" %}{% endblock description %} 

{% block content %}
{% include "components/default/slider.html" %}

{% include "components/default/featured_categories.html" %}

{% include "components/default/discounted_products.html" %}

{% include "components/default/new_products.html" %}
{% endblock content %}
