{% extends "layouts/default.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "Checkout Success" %}{% endblock title %}
{% block description %}{% translate "Checkout Success Page Description" %}{% endblock description %}
{% block content %}
<section class="checkout">
    <header>
        <div class="container">
            <div class="text">
                <div class="alert alert-success" role="alert">
                    {% translate "Your order was submitted!" %}
                    <br />
                    <h5 class="text-center">
                        {% translate "Your order code" %}: {{order.code}}
                    </h5>
                    <p>{% translate "You can use the order code to contact us and get information about your order" %}</p>
                    <b>{% translate "We will contact you soon!" %}</b>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="clearfix">
            <div class="row">
                <div class="col-6">
                    <a href="{% url "apps.store:category-products" %}" class="btn btn-clean-dark">
                        <span class="icon icon-chevron-left"></span>
                        {% translate "Shop more" %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
