{% load i18n %}
<div class="filters">
  <div class="filter-scroll-list">
    <div class="filter-header d-block d-sm-none">
      <span class="h4">{% translate "Filter products" %}</span>
      <br />{% translate "Select your options" %}
      <hr />
    </div>

    <div class="filter-box active">
      <div class="title">{% translate "Price" %}</div>
      <div class="filter-content">
        <div class="price-filter">
          <input
            type="text"
            id="range-price-slider"
            value=""
            name="price_range"
          />
        </div>
        <button id="price_range" class="btn btn-outline-primary">
          {% translate "Filter" %}
        </button>
      </div>
    </div>

    <div class="filter-box active">
      <div class="title">{% translate "Category" %}</div>
      <div class="filter-content">
        {% include "components/forms/category-inputs.html" with categories=categories current_category=form.category %}
      </div>
    </div>

    <div class="filter-box active">
      <div class="title">{% translate "Brand" %}</div>
      <div class="filter-content">
        {% include "components/forms/brand-inputs.html" with brands=brands current_brand=form.brand %}
      </div>
    </div>

    <div class="filter-box">
      <div class="title">{% translate "Availability" %}</div>
      <div class="filter-content">
        <span class="checkbox in-stock-checkbox">
          {{form.in_stock}}
          <label for="inStock"
            >{% translate "In stock" %}
            <i>({{in_stock_products_count}})</i></label
          >
        </span>
      </div>
    </div>
  </div>
  <div class="toggle-filters-close btn btn-circle">
    <i class="icon icon-cross"></i>
  </div>
</div>
