{% load static %} {% load i18n %}
{% load get_social_media_platform_icon %}

<div>
  <footer>
    <div class="container-fluid">
      <div class="footer-wrap">
        <div class="container">
          <div class="footer-showroom">
            <div class="text-center">
              <a href="{% url 'apps.main:index' %}"
                ><img
                  src="{% static 'images/logo.png' %}"
                  alt=""
                  width="180"
                  height="55"
              /></a>
            </div>
          </div>

          <div class="footer-links">
            <div class="row">
              {% for item in default_footer_menu %}
              <div class="col-md-3">
                <h5>{{item.title}}</h5>
                {% if item.children and item.children|length %}
                <ul>
                  {% for sub_item in item.children %}
                  <li><a href="{{sub_item.route}}">{{sub_item.title}}</a></li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="footer-social">
            <div class="links">
              <ul>
                {% for item in default_footer_social_links %}
                <li>
                  <a href="{{item.link}}"><i class="{{item.platform|get_social_media_platform_icon}}"></i></a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
