{% load static %}
{% load i18n %}
{% load build_language_path %}

<div>
  <nav>
    <div class="container">
      <a href="{% url 'apps.main:index' %}" class="logo"
        ><img
          src="{% static 'images/divano-logo.svg' %}"
          alt=""
          width="130"
          height="55"
      /></a>

      <div class="navigation navigation-top clearfix">
        <ul>
          <li class="left-side">
            <a href="{% url 'apps.main:index' %}" class="logo-icon"
              ><img
                src="{% static 'images/divano-logo.svg' %}"
                alt="Alternate Text"
                width="150"
                height="34"
            /></a>
          </li>
          {% if user.is_authenticated %}
          <li class="left-side">
            <a href="{% url 'apps.administration:index' %}">{% translate "Admin Panel" %}</a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="navigation navigation-main">
        <a href="#" class="open-menu"><i class="icon icon-menu"></i></a>

        <div class="floating-menu">
          <div class="close-menu-wrapper">
            <span class="close-menu"><i class="icon icon-cross"></i></span>
          </div>
          <ul>
            {% for item in default_header_menu %}
            <li>
              <a href="{{item.route}}"
                >{{item.title}}
              </a>
            </li>
            {% endfor %}
            <li class="nav-settings">
              <a href="{% build_language_path path=request.get_full_path lang=CURRENT_LANGUAGE current_language=CURRENT_LANGUAGE%}"
                ><span class="nav-settings-value">{{CURRENT_LANGUAGE|upper}}</span>
                <span class="open-dropdown"
                  ><i class="fa fa-angle-down"></i></span
              ></a>
              <div class="navbar-dropdown navbar-dropdown-single">
                <div class="navbar-box">
                  <div class="box-full">
                    <div class="box clearfix">
                      <ul class="nav-settings-list">
                        {% for lang in languages %}
                        <li><a href="{% build_language_path path=request.get_full_path lang=lang.code current_language=CURRENT_LANGUAGE%}">{{lang.code|upper}}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </nav>
</div>





