{% load static %}
<section class="header-content">
  <div class="container-fluid">
    <div class="owl-slider owl-carousel owl-theme" data-autoplay="true">

      {% for banner in banners %}
      <a
        href="{{banner.link}}"
        class="item d-flex align-items-center lazy-bg" 
        aria-label="image-{{forloop.counter}}"
        data-src="{{banner.image.url}}"
      >
        <div class="container">
          <div class="caption">
          </div>
        </div>
      </a>
      {% endfor %}

    </div>
  </div>
</section>
