{% extends "layouts/admin.html" %} {% load static %} {% load i18n %}
{% block title %}{% translate "Brand List" %}{% endblock title %}
{% block content %}
<main>
  <header
    class="page-header page-header-compact page-header-light border-bottom bg-white mb-4"
  >
    <div class="container-fluid px-4">
      <div class="page-header-content">
        <div class="row align-items-center justify-content-between pt-3">
          <div class="col-auto mb-3">
            <h1 class="page-header-title">
              <div class="page-header-icon"><i data-feather="list"></i></div>
              {% translate "Brand List" %}
            </h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid px-4">
    <div class="card mb-4">
        <div class="card-header">{% translate "Add Brand" %}</div>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {% include "components/forms/hidden-fields.html" with hidden_fields=form.hidden_fields %}
            <div class="row gx-3 mb-4">
              <div class="col-md-6 col-12">
                <label class="small mb-1" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                {{ form.name }}
                {{ form.name.errors }}
              </div>
              <div class="col-md-6 col-12">
                <label class="small mb-1" for="{{ form.cover_image.id_for_label }}">{{ form.cover_image.label }}</label>
                {{ form.cover_image }}
                {{ form.cover_image.errors }}
              </div>
            </div>
            {{form.non_field_errors}} {{form.non_form_errors}}
            <button class="btn btn-success btn-sm" type="submit">
              <i class="me-1" data-feather="plus"></i> {% translate "Save" %}
            </button>
          </form>
        </div>
      </div>
    {% include "components/messages.html" with messages=messages %}
    <div class="card">
      <div class="card-body">
        <table id="datatablesSimple" class="entry-table">
          <thead>
            <tr>
              <th>{% translate "Name" %}</th>
              <th>{% translate "Cover Image" %}</th>
              <th>{% translate "Actions" %}</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>{% translate "Name" %}</th>
              <th>{% translate "Cover Image" %}</th>
              <th>{% translate "Actions" %}</th>
            </tr>
          </tfoot>
          <tbody>
            {% for brand in brands %}
            <tr>
              <td>{{brand.name}}</td>
              <td>{% if brand.cover_image %}<img loading="lazy" width="80" height="40" src="{{brand.cover_image.url}}" alt="{{brand.name}}">{% endif %}</td>
              <td>
                <a href="{% url 'apps.administration:store-brand-update-delete' pk=brand.pk %}" class="btn btn-datatable btn-icon btn-transparent-dark me-2"><i data-feather="edit"></i></a>
                <form
                  class="delete-form"
                  action="{% url 'apps.administration:store-brand-update-delete' pk=brand.pk %}"
                  method="post"
                >
                  {% csrf_token %}
                  <button
                    type="submit"
                    class="btn btn-datatable btn-icon btn-transparent-dark"
                  >
                    <i data-feather="trash-2"></i>
                  </button>
                  <input type="hidden" name="_method" value="delete">
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
