{% load i18n %}
<span class="checkbox brand-checkbox">
    <input
        type="radio"
        name="brand"
        id="brandAll"
        value=""
        {% if not current_brand.value %}checked="checked"{% endif %}
    />
    <label for="brandAll"
        >{% translate "All" %}</label
    >
</span>
{% for brand in brands %}
<span class="checkbox brand-checkbox">
    <input type="radio" name="brand" id="brand{{brand.id}}" value="{{brand.slug}}"
        {% if brand.slug == current_brand.value %}checked="checked"{% endif %}>
    <label class="brand-input-label" for="brand{{brand.id}}">
        <span>{{brand}}</span>
        <br>
        <img
            src="{{brand.cover_image.url}}"
            alt="{{brand}}"
            width="96"
            height="48"
            loading="lazy"
        />
    </label>
</span>
{% endfor %}
