{% load i18n %}

{% load mptt_tags %}
<span class="checkbox category-checkbox">
  <input
    type="radio"
    name="category"
    id="categoryAll"
    value=""
    {% if not current_category.value %}checked="checked"{% endif %}
  />
  <label for="categoryAll"
    >{% translate "All" %} <i>({{all_products_count}})</i></label
  >
  <a href="{% url 'apps.store:category-products'%}" class="d-none"></a>
</span>
{% recursetree categories %}
<span class="checkbox">
  <span class="category-checkbox">
    <input type="radio" name="category" id="category{{node.id}}" value="{{node.slug}}"
    {% if node.slug == current_category.value %}checked="checked"{% endif %}>
    <label class="category-input-label" for="category{{node.id}}"
      >{{node.category_name}} <i>({{node.products_count}})</i></label
    >
    <a href="{% url 'apps.store:category-products' category=node.slug %}" class="d-none"></a>
  </span>
</span>
{% if not node.is_leaf_node %}
<div class="ml-2">{{children}}</div>
{% endif %} {% endrecursetree %}
