{% load i18n %}
<span class="checkbox product-model-checkbox">
    <input
        type="radio"
        name="product_model"
        id="productModelAll"
        value=""
        {% if not current_product_model.value %}checked="checked"{% endif %}
    />
    <label for="productModelAll"
        >{% translate "All" %} <i>({{all_products_count}})</i></label
    >
</span>
{% for product_model in product_models %}
<span class="checkbox product-model-checkbox">
    <input type="radio" name="product_model" id="product_model{{product_model.id}}" value="{{product_model.slug}}"
        {% if product_model.slug == current_product_model.value %}checked="checked"{% endif %}>
    <label class="product-model-input-label" for="product_model{{product_model.id}}">
        <span>{{product_model}}</span>
        <br>
        <img
            src="{{product_model.cover_image.url}}"
            alt="{{product_model}}"
            width="96"
            height="48"
        />
        <i>({{product_model.products_count}})</i>
    </label>
</span>
{% endfor %}
