{% load static %}
<script src="{% static 'js/lazysizes.min.js' %}" async></script>

<script
  src="{% static 'fonts/font-awesome.min.js' %}"
  crossorigin="anonymous"
></script>
<script
  src="{% static 'icons/feather.min.js' %}"
  crossorigin="anonymous"
></script>
<script
  src="{% static 'js/admin/bootstrap.bundle.min.js' %}"
  crossorigin="anonymous"
></script>
<script src="{% static 'js/admin/main.js' %}"></script>
<script
  src="{% static 'js/admin/simple-datatables.min.js' %}"
  crossorigin="anonymous"
></script>
<script src="{% static 'js/admin/datatables-simple-demo.js' %}"></script>
