{% extends "layouts/admin.html" %} {% load static %} {% load i18n %}
{% block title %}{% translate "Blog List" %}{% endblock title %}
{% block content %}
<main>
  <header
    class="page-header page-header-compact page-header-light border-bottom bg-white mb-4"
  >
    <div class="container-fluid px-4">
      <div class="page-header-content">
        <div class="row align-items-center justify-content-between pt-3">
          <div class="col-auto mb-3">
            <h1 class="page-header-title">
              <div class="page-header-icon"><i data-feather="list"></i></div>
              {% translate "Blog List" %}
            </h1>
          </div>
          <div class="col-12 col-xl-auto mb-3">
            <a
              class="btn btn-sm btn-light text-primary"
              href="{% url 'apps.administration:blog-create' %}"
            >
              <i class="me-1" data-feather="plus"></i>
              {% translate "Add Blog Post" %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid px-4">
    {% include "components/messages.html" with messages=messages %}
    <div class="card">
      <div class="card-body">
        <table id="datatablesSimple" class="entry-table">
          <thead>
            <tr>
              <th>{% translate "Title" %}</th>
              <th>{% translate "Cover Image" %}</th>
              <th>{% translate "Status" %}</th>
              <th>{% translate "Published At" %}</th>
              <th>{% translate "Actions" %}</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>{% translate "Title" %}</th>
              <th>{% translate "Cover Image" %}</th>
              <th>{% translate "Status" %}</th>
              <th>{% translate "Published At" %}</th>
              <th>{% translate "Actions" %}</th>
            </tr>
          </tfoot>
          <tbody>
            {% for blog_post in blog_posts %}
            <tr>
              <td>{{ blog_post.title }}</td>
              <td>
                {% if blog_post.cover_image %}
                <img class="lazyload" width="80" height="48" data-src="{{ blog_post.cover_image.url }}" alt="{{ blog_post.title }}">
                {% endif %}
              </td>
              <td>{{ blog_post.status_display }}</td>
              <td>{{ blog_post.published_at|default_if_none:"-" }}</td>
              <td>
                <a href="{% url 'apps.administration:blog-update-delete' pk=blog_post.pk %}" class="btn btn-datatable btn-icon btn-transparent-dark me-2"><i data-feather="edit"></i></a>
                <form
                  class="delete-form"
                  action="{% url 'apps.administration:blog-update-delete' pk=blog_post.pk %}"
                  method="post"
                >
                  {% csrf_token %}
                  <button
                    type="submit"
                    class="btn btn-datatable btn-icon btn-transparent-dark"
                  >
                    <i data-feather="trash-2"></i>
                  </button>
                  <input type="hidden" name="_method" value="delete">
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
{% endblock content %}