{% extends 'layouts/admin.html' %} {% load static %} {% load i18n %} 
{% block title %}{% translate "Product List" %}{% endblock title %} 
{% block content %}
<main>
  <header
    class="page-header page-header-compact page-header-light border-bottom bg-white mb-4"
  >
    <div class="container-fluid px-4">
      <div class="page-header-content">
        <div class="row align-items-center justify-content-between pt-3">
          <div class="col-auto mb-3">
            <h1 class="page-header-title">
              <div class="page-header-icon"><i data-feather="list"></i></div>
              {% translate "Product List" %}
            </h1>
          </div>
          <div class="col-12 col-xl-auto mb-4">
            <a
              class="btn btn-sm btn-light text-primary"
              href="{% url 'apps.administration:store-product-create' %}"
            >
              <i class="me-1" data-feather="plus"></i>
              {% translate "Add Product" %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid px-4">
    {% include 'components/messages.html' with messages=messages %}
    <div class="card">
      <div class="card-body">
        <table id="datatablesSimple" class="entry-table">
          <thead>
            <tr>
              <th>{% translate "Name" %}</th>
              <th>{% translate "Category" %}</th>
              <th>{% translate "Price" %}</th>
              <th>{% translate "Discount" %}</th>
              <th>{% translate "Cover Image" %}</th>
              <th>{% translate "Actions" %}</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>{% translate "Name" %}</th>
              <th>{% translate "Category" %}</th>
              <th>{% translate "Regular Price" %}</th>
              <th>{% translate "Discount" %}</th>
              <th>{% translate "Cover Image" %}</th>
              <th>{% translate "Actions" %}</th>
            </tr>
          </tfoot>
          <tbody>
            {% for product in products %}
            <tr>
              <td>{{product.name}}</td>
              <td>{{product.category}}</td>
              <td>{{product.regular_price}}</td>
              <td>{{product.discount}}</td>
              <td><img loading="lazy" width="30" height="30" src="{{product.get_image_feature}}" alt="{{product}}"></td>
              <td>
                <a href="{% url 'apps.administration:store-product-update-delete' pk=product.pk %}" class="btn btn-datatable btn-icon btn-transparent-dark me-2">{% translate "Edit" %}</a>
                {% comment %} <form
                  class="delete-form"
                  action="{% url 'apps.administration:store-category-update-delete' pk=category.pk %}"
                  method="POST"
                >
                  {% csrf_token %}
                  <button
                    type="submit"
                    class="btn btn-datatable btn-icon btn-transparent-dark"
                  >
                    {% translate "Delete" %}
                  </button>
                  <input type="hidden" name="_method" value="delete">           
                </form> {% endcomment %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
